<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    <div>
        <div>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand">InterestNook</a>
                <form class="form-inline my-2 my-lg-0">
                    <a href="/dashboard" class="btn btn-outline-warning mr-3">Dashboard</a>
                    <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
                </form>
        </div>
        <form action="" method="post">
            <label for="content">Comment:</label>
            <input type="text" name="content">
        </form>
    </div>
</body>
</html>