<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterestNook</title>
</head>
<body>
    <div class="dashboard_container">
        <div class="dashboard_header">
            <h1>Welcome to InterestNook</h1>
        </div>
        <div>
            <a href="">Create</a>
            <a href="">Post</a>
            <input type="text" placeholder="Search">
            <a href=""><button>Logout</button></a>
        </div>
        <div class="dashboard_posts">
            <div class="dashboard_left">
                <h2>Your Events</h2>
                <div class="your_events">
                    <p>Input Event Here</p>
                </div>
                <div>
                    <a href=""><button>Like</button></a>
                    <a href=""><button>View</button></a>
                    <a href=""><button>Comment</button></a>
                </div>
            </div>
            <div class="dashboard_right">
                <div class="other_events">
                    <h2>Similar Posts Near You</h2>
                    <div>
                        <p>Input Post Here</p>
                    </div>
                    <div>
                        <a href=""><button>Join Event</button></a>
                        <a href=""><button>Leave</button></a>
                    </div>
                </div>
                <a href=""><button>RSVP'd Events</button></a>
            </div>
        </div>
    </div>
</body>
</html>