<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
</head>
<body>
    <div class="event_container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="form_header">
            <h1>Create an Event!</h1>
            <div>
                <a href=""><button>Home</button></a>
                <a href=""><button>Logout</button></a>
            </div>
            <form action="" method="post">
                <div class="form_options">
                    <label for="event_name">Event Name:</label>
                    <input type="text" name="event_name" id="event_name" value="{{event.event_name}}">
                </div>
                <div class="form_options">
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" value="{{event.description}}">
                </div>
                <div class="form_options">
                    <label for="location">Location:</label>
                    <input type="text" name="location" id="location" value="{{event.location}}">
                </div>
                <div class="form_options">
                    <label for="date_time">Date/Time:</label>
                    <input type="date" name="date_time" id="date_time">
                    <input type="time">
                </div>
                <input type="submit" value="Create Event">
            </form>
        </div>
    </div>
</body>
</html>