<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Event</title>
</head>
<body>
    <div class="view_event_container">
        <div class="form_header">
            <h1>{{event.event_name}}</h1>
            <div>
                <a href=""><button>Home</button></a>
                <a href=""><button>Logout</button></a>
            </div>
        </div>
        <div class="view_event_info">
            <p>Location: {{event.location}}</p>
            <p>Description: {{event.description}}</p>
            <a href=""><button>RSVP</button></a>
        </div>
    </div>
</body>
</html>