<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Events</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{user.first_name}}'s Events</h1>
            <div>
                <a href=""><button>Home</button></a>
                <a href=""><button>Logout</button></a>
            </div>
        </div>
        <div>
            <p>{{% for event in events %}}</p>
            <div class="other_events">
                <div>
                    <p>Input Post Here</p>
                </div>
                <div>
                    <a href=""><button>Update</button></a>
                    <a href=""><button>Delete</button></a>
                </div>
            </div>
            <p>{{% endfor% }}</p>
        </div>
    </div>
</body>
</html>